@using NewCentury.Domain.Models.Enum
@model NewCentury.ViewModels.Temp.FimDeJogoViewModel

@{
    ViewData["Title"] = "Fim de Jogo";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Jogo de Adivinhação!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>


        .container_0 {
            max-width: 500px; /* Largura máxima do contêiner */
            margin: auto; /* Centraliza o contêiner na página */
            padding: 30px;
        }

        h1, h2, h3 {
            text-align: center;
        }

        form {
            margin-top: 30px;
            background-color: #fff; /* Adiciona cor de fundo ao formulário */
            padding: 20px; /* Adiciona preenchimento interno ao formulário */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<br />
<br />
<h2 class="text-center">Fim de Jogo</h2>

<div class="container_0 mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Vencedor da Partida:</h5>
            @if (Model.Vencedor == "maquina")
            {
                <p class="card-text"><strong style="text-transform: uppercase; color:red; font-size: 22px">@Model.Vencedor</strong></p>
            }
            else
            {

                <p class="card-text"><strong style="text-transform: uppercase; color:green; font-size: 22px;">@Model.NomeJogador</strong></p>
            }
        </div>
        <div class="card-body">
            <h5 class="card-title">Quantidade de Jogadas Vencidas pelo Jogador:</h5>
            <p class="card-text">@Model.QtdeJogador</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Quantidade de Jogadas pela Máquina:</h5>
            <p class="card-text">@Model.QtdeMaquina</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Duração da Partida:</h5>
            <p class="card-text">@Model.DuracaoPartida</p>
        </div>
        <div class="card-body">
            <a href="@Url.Action("Ranking", "Dash")" class="btn btn-dark mb-3">Ranking</a>
        </div>
    </div>

</div>
