@using NewCentury.Domain.Models.Enum
@model NewCentury.ViewModels.Temp.SessaoAtualViewModel

@{
    ViewData["Title"] = "Jogo";
}

<style>


    .container_0 {
        max-width: 500px; /* Largura máxima do contêiner */
        margin: auto; /* Centraliza o contêiner na página */
        padding: 30px;
    }

    h1, h2, h3 {
        text-align: center;
    }

    form {
        margin-top: 30px;
        background-color: #fff; /* Adiciona cor de fundo ao formulário */
        padding: 20px; /* Adiciona preenchimento interno ao formulário */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        width: 100%;
    }
</style>
<h2>Jogo de Adivinhação</h2>
<div class="container_0">



<form asp-action="RodadaJogoJogador" method="post">

                <h3>Voçe tem que adivinhar o Numero Escolhido pela Maquina</h3>

                <input type="hidden" name="partidaId" value="@Model.partidaId" />
                <input type="hidden" name="Player" value="@Model.Player" />
                <input type="hidden" name="PlayerInicial" value="@Model.PlayerInicial" />
                <input type="hidden" name="Situacao" value="@Model.Situacao" />
                <input type="hidden" name="Continuar" value="@Model.Continuar" />
                <input type="hidden" name="Dificuldade" value="@Model.Dificuldade" />
                <input type="hidden" name="Rodadas" value="@Model.Rodadas" />
                <input type="hidden" name="RodadaAtual" value="@Model.RodadaAtual" />
                <input type="hidden" name="NomeJogador" value="@Model.NomeJogador" />

                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul>
                            <li style="color: red;">Difícil: 1 a 10 </li>
                            <li style="color: blue;">Médio: 1 a 5 </li>
                            <li style="color: green;">Fácil: 1 e 2</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="guess">Digite um número:</label>
                    <input type="text" class="form-control" id="guess" name="EscolhaJogador" oninput="limitarEntrada()" />
                </div>

                <button type="submit" class="btn btn-primary">Confirmar Jogada</button>

                <p class="card-text text-danger">Rodada Atual: @Model.RodadaAtual</p>

                <p class="card-text text-danger">Numero de Rodadas: @Model.Rodadas</p>

            </form>


</div>
<script>
    function limitarEntrada() {
        var campo = document.getElementById("guess");
        var dificuldade = "@Model.Dificuldade";
        var valor = parseInt(campo.value);

        switch (dificuldade) {
            case "FACIL":
                if (valor < 1 || valor > 2) {
                    campo.value = "";
                }
                break;
            case "MEDIO":
                if (valor < 1 || valor > 5) {
                    campo.value = "";
                }
                break;
            case "DIFICIL":
                if (valor < 1 || valor > 10) {
                    campo.value = "";
                }
                break;
            default:
                break;
        }
    }
</script>
