@using NewCentury.Domain.Models.Enum
@model NewCentury.ViewModels.Temp.SessaoAtualViewModel

@{
    ViewData["Title"] = "Jogo";
}

<style>


    .container_0 {
        max-width: 500px; /* Largura máxima do contêiner */
        margin: auto; /* Centraliza o contêiner na página */
        padding: 30px;
    }

    h1, h2, h3 {
        text-align: center;
    }

    form {
        margin-top: 30px;
        background-color: #fff; /* Adiciona cor de fundo ao formulário */
        padding: 20px; /* Adiciona preenchimento interno ao formulário */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control {
        width: 62px !important;
    }
    .btn-primary {
        width: 100%;
    }
</style>
<div class="container_0">



<form asp-action="RodadaJogoJogador" method="post">


                @if (Model.Player == "jogador")
                {
                      <h3>Adivinhe o número escolhido pela Maquina</h3>
                }
                @if (Model.Player == "maquina")
                {
                      <h3>Digite um número para a Maquina adinivnhar</h3>
                }

                <input type="hidden" name="partidaId" value="@Model.partidaId" />
                <input type="hidden" name="Player" value="@Model.Player" />
                <input type="hidden" name="PlayerInicial" value="@Model.PlayerInicial" />
                <input type="hidden" name="Situacao" value="@Model.Situacao" />
                <input type="hidden" name="Continuar" value="@Model.Continuar" />
                <input type="hidden" name="Dificuldade" value="@Model.Dificuldade" />
                <input type="hidden" name="Rodadas" value="@Model.Rodadas" />
                <input type="hidden" name="RodadaAtual" value="@Model.RodadaAtual" />
                <input type="hidden" name="NomeJogador" value="@Model.NomeJogador" />


                <div class="row">
                    <br />
                    <div class="col-md-12 text-center">
                        <ul>
                            @if (Model.Dificuldade == "FACIL")
                            {
                                <li style="color: green; font-size: 18px;">Fácil</li>
                            }
                            @if (Model.Dificuldade == "MEDIO")
                            {
                                <li style="color: blue; font-size: 18px;">Médio</li>
                            }
                            @if (Model.Dificuldade == "DIFICIL")
                            {
                                <li style="color: red; font-size: 18px;">Difícil</li>
                            }
                        </ul>
                        <br />
                    </div>
                </div>

                <div class="form-group text-center">
                        <label for="guess" class="text-center">
                            @if (Model.Dificuldade == "FACIL")
                            {
                                <div>Entre com um Número 1 ou 2:</div>
                                     <div class="row">
                                        <div class="col-md-12 text-center">
                                            <select class="form-control" id="guess" name="EscolhaJogador" onchange="limitarEntrada()" style="font-size: 14px; margin-left: 60px !important;">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                            }
                            @if (Model.Dificuldade == "MEDIO")
                            {
                                <div>Entre com um Número entre 1 e 5:</div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                        <select class="form-control" id="guess" name="EscolhaJogador" onchange="limitarEntrada()" style="font-size: 14px; margin-left: 76px !important;">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            @if (Model.Dificuldade == "DIFICIL")
                            {
                                <div>Entre com um Número entre 1 e 10:</div>                              
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <select class="form-control" id="guess" name="EscolhaJogador" onchange="limitarEntrada()" style="font-size: 14px; margin-left: 76px !important;">
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </label>
                    </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-dark mb-3">Confirmar</i></button>
                    </div>
                </div>
                <p class="card-text text-danger">Rodada Atual: @Model.RodadaAtual</p>

                <p class="card-text text-danger">Numero de Rodadas: @Model.Rodadas</p>

            </form>


</div>
<script>
    function limitarEntrada() {
        var campo = document.getElementById("guess");
        var dificuldade = "@Model.Dificuldade";
        var valor = parseInt(campo.value);

        switch (dificuldade) {
            case "FACIL":
                if (valor < 1 || valor > 2) {
                    campo.value = "";
                }
                break;
            case "MEDIO":
                if (valor < 1 || valor > 5) {
                    campo.value = "";
                }
                break;
            case "DIFICIL":
                if (valor < 1 || valor > 10) {
                    campo.value = "";
                }
                break;
            default:
                break;
        }
    }
</script>
