@model NewCentury.ViewModels.Dash.DashViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="text-center">
    <div class="container mt-5">
        <h2>Bem-vindo ao Painel de Controle</h2>
        <p>Aqui você pode acessar diferentes recursos de Dashboarding.</p>
    </div>
</div>



<div class="container mt-10">
    <form asp-action="HistoricoPartidas" asp-controller="Dash" method="post" onsubmit="return validarDatas()" class="text-center">
        <div class="row mt-10">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <label for="dataInicial">Data Inicial:</label>
                        <input type="date" class="form-control mx-auto mt-2" id="dataInicial" name="DataInicial" value="@Model.DataInicial.ToString("yyyy-MM-dd")" onchange="validarDataInicial()">
                    </div>
                    <div class="col-md-6">
                        <label for="dataFinal">Data Final:</label>
                        <input type="date" class="form-control mx-auto mt-2" id="dataFinal" name="DataFinal" value="@Model.DataFinal.ToString("yyyy-MM-dd")" onchange="validarDataFinal()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-dark mb-3">
                    <i class="fas fa-search"></i> Filtrar
                </button>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <br /><br />
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="text-center">
                            <h4>Histórico de Partidas</h4>
                        </div>
                        <div class="table table-sm" style="max-height: 1200px;">
                            <table id="table"
                                   data-toggle="table"
                                   data-filter-control="true"
                                   class="table table-hover"
                                   data-height="500">
                                <thead class="table-light">
                                    <tr>
                                        <th class="col-sm-1 text-center" data-field="Id" data-filter-control="input" data-sortable="true">Id</th>
                                        <th class="col-sm-1 text-center" data-field="Jogador" data-filter-control="input" data-sortable="true">Jogador</th>
                                        <th class="col-sm-1 text-center" data-field="Rodadas" data-filter-control="select" data-sortable="true">Rodadas</th>
                                        <th class="col-sm-1 text-center" data-field="DataJogada" data-filter-control="input" data-sortable="true">Data da jogada</th>
                                        <th class="col-sm-1 text-center" data-field="Tempo" data-filter-control="input" data-sortable="true">Tempo de Partida</th>
                                        <th class="col-sm-1 text-center" data-field="Dificuldade" data-filter-control="select" data-sortable="true">Dificuldade</th>
                                        <th class="col-sm-1 text-center" data-field="Vencedor" data-filter-control="select" data-sortable="true">Vencedor</th>
                                    </tr>
                                </thead>
                                <tbody id="tentativasTableBody">
                                    @foreach (var item in Model.Partidas)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    string partidaId = item.Id.ToString();
                                                    string partidaIdAbreviado = partidaId.Length > 7 ? partidaId.Substring(0, 13) + "..." : partidaId;
                                                }

                                                @Html.DisplayFor(modelItem => partidaIdAbreviado)
                                            </td>
                                            <td>
                                                @{
                                                    string nome = item.Jogador.Nome.ToString() + ".";
                                                }
                                                @Html.DisplayFor(modelItem => nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.numeroRodadas)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DataCadastro)
                                            </td>
                                            <td>
                                                @{
                                                    TimeSpan diferenca = item.DataFim - item.DataCadastro;
                                                    string formato = $"{diferenca:mm\\:ss}";
                                                }
                                                @Html.DisplayFor(modelItem => formato)
                                            </td>
                                            <td>
                                                @{
                                                    string dificuldade = item.Dificuldade.ToString().ToUpper();
                                                }
                                                @Html.DisplayFor(modelItem => dificuldade)
                                            </td>
                                            <td>
                                                @{
                                                    string vencedor = item.Vencedor.ToString().ToUpper();
                                                }
                                                @Html.DisplayFor(modelItem => vencedor)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {









    <script>
        function validarDatas() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;
            var dataAtual = new Date().toISOString().split('T')[0];

            if (dataInicial > dataFinal) {
                alert("A data inicial deve ser menor ou igual à data final.");
                return false;
            }

            if (dataInicial > dataAtual || dataFinal > dataAtual) {
                alert("As datas não podem ser maiores que a data atual.");
                return false;
            }

            return true;
        }

        function validarDataInicial() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;

            if (dataInicial > dataFinal) {
                document.getElementById("dataInicial").value = new Date().toISOString().split('T')[0];
            }
        }

        function validarDataFinal() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;

            if (dataInicial > dataFinal) {
                document.getElementById("dataFinal").value = new Date().toISOString().split('T')[0];
            }
        }

        //Partidas
        var partidasData = [
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            // Mais dados de partidas...
        ];
        function preencherTabelaPartidas() {
            var partidasTableBody = document.getElementById("partidasTableBody");

            partidasData.forEach(function (partida) {
                var row = document.createElement("tr");

                row.innerHTML = `
                                    <td>${partida.PartidaId}</td>
                                    <td>${partida.Jogador}</td>
                                    <td>${partida.Dificuldade}</td>
                                    <td>${partida.Rodadas}</td>
                                    <td>${partida.QuemComeca}</td>
                                    <td>${partida.Data}</td>
                                    <td>${partida.Vencedor}</td>
                                `;

                partidasTableBody.appendChild(row);
            });
        }

        // Chama a função para preencher a tabela quando a página carrega
        document.addEventListener("DOMContentLoaded", function () {
            preencherTabelaRanking();
        });


        // Chama a função para preencher a tabela quando a página carrega
        document.addEventListener("DOMContentLoaded", function () {
            preencherTabelaPartidas();
        });
        // Chama a função para preencher a tabela quando a página carrega
        window.onload = function () {
            preencherTabelaPartidas();
        };

        // Chama a função para preencher a tabela quando a página carrega
        window.onload = function () {
            preencherTabelaTentativas();
        };


    </script>
}

